body {
  font-family: "Arial", Impact, sans-serif;
  line-height: 1.7;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.1);

  /* Color etc.  */
  background: #FFFFFF;
  color: #000000;
}

/* Everything that isn't the banner should be centered, etc. via this code */
.non-banner {
  /* Center the .main div */
  min-height: 100vh;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  padding: 24px 16px;
}

/* MAIN STUFF */
.main {
  max-width: 800px;
  width: auto;
  margin: 0 auto;
  text-align: left;
  word-wrap: break-word;
}
.center-them {
  text-align: center;
}

p, li {
  text-align: inherit;   /* inherit center from .main */
}


/* BANNER STUFF */
/* .banner {
  width: 100vw;
  margin: 0 calc(50% - 50vw); /* bleed edge‑to‑edge even with body padding */
/* }
.banner img {
  width: 100%;
  height: auto;
  display: block;
} */
.banner {
  width: 100%;         /* stretch across screen */
  overflow: hidden;    /* hide any overflow */
}

.banner img {
  width: 100%;         /* always span full width */
  height: 200px;       /* adjust this to change how 'small' the banner is */
  object-fit: cover;   /* crop instead of squish */
  display: block;      /* remove small gaps in some browsers */
}

/* CHANGE HYPERLINK STYLES */
/* before click (unvisited) */
a:link {
  color: #BB4C57;
}

/* after click (visited) */
a:visited {
  color: #BB4C57;
}
